<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>

<node name="mine_sim" pkg="md" type="mine_sim.py">
  </node>

<node name="gantry_sim" pkg="gantry" type="gantry_sim.py">
  </node>

<node name="gantry_drive" pkg="gantry" type="gantry_drive.py">
  </node>

<node name="md_acquisition" pkg="md" type="md_acquisition.py">
  </node>

<node name="md_gradientascent" pkg="md" type="md_gradientascent.py" output="screen">
  </node>


<node name="rviz" pkg="rviz" type="rviz" args="-d $(find gantry)/../launch/md_sim.rviz"/>/>


</launch>