<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>

<param name ="/use_sim_time" value="false"/>

<rosparam command="load" file="$(find scorpion)/../transforms.yaml" />


<include file="$(find minebot_gui)/minebot_gui.launch"/>


<node name="scorpion" pkg="scorpion" type="scorpion.py" output="screen"></node>
<node name="mine_sim" pkg="scorpion" type="mine_sim.py" output="screen"></node>
<node name="localization_sim" pkg="scorpion" type="localization_sim.py" output="screen"></node>
<node name="braking_sim" pkg="scorpion" type="braking_sim.py" output="screen"></node>


<node name="gantry_planner" pkg="gantry" type="gantry_planner.py" output="screen"></node>
<node name="gantry_drive" pkg="gantry" type="gantry_drive.py"></node>
<node name="md_acquisition_sim" pkg="md" type="acquisition_sim.py"></node>
<node name="md_gradientascent" pkg="md" type="gradientascent.py"></node>


<node name="probe_sim" pkg="probe" type="probe_sim.py" output="screen"></node>


<node name="rviz" pkg="rviz" type="rviz" args="-d $(find gantry)/../launch/sve_sim.rviz"/>/>

</launch>
